html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 70px;
  background: black;
  background: -webkit-linear-gradient(black, #808080);
  background: -o-linear-gradient(black, #808080);
  background: -moz-linear-gradient(black, #808080);
  background: linear-gradient(black, #808080);
  color: #C3CFD8;
}


h1 {
  display: table;
  margin: 0 auto;
  font-weight: 500;
  font-size: 6em;
  background: -webkit-linear-gradient(330deg, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Chicle', cursive;
  line-height: 200px;

}

h4 {
  color: #DCDCDC;
}

label  {
  font-size: x-large;
  margin-bottom: 20px;
}

blockquote {
  font-size: 22px;
  font-weight: lighter;
  font-family: sans-serif;
}
